In [190]:
import pandas as pd
import numpy as np
import re
from IPython.display import display, HTML

pd.set_option('display.max_colwidth', -1)

## Columns names
estab_name = "Establishment Name"
cleaned_synon = "Cleansing Synonyms"
arabic_synon = "Arabic Synonyms"
reviewed_cleaned_synon = "Cleansing Synonyms review"
synonym_col = "synonym"

In [191]:
# Add arabic synon to DLM

In [192]:
def read_file(exten, file = None, column = None):
    df = None
    if exten == 'csv':
        df = pd.read_csv('data/' + file, encoding = 'utf-8')
    elif exten == 'excel':
        df = pd.read_excel('data/' + file, column, encoding = 'utf-8')
    return df

def export_to_file(exten, df, file_name):
    if exten == 'excel':
        writer = pd.ExcelWriter(file_name)
        df.to_excel(writer,'Sheet1')
        writer.save()
    elif exten == 'csv':
        df.to_csv(file_name, encoding='utf-8', index=False)

### DQ Reading and summary

In [193]:
data = read_file("csv", "34K_dlm_source_review02.csv")

In [194]:
data.describe(include="all")

,Establishment Name,English Synonyms,Arabic Synonyms,Cleansing Synonyms,Cleansing Synonyms review
count,33128,1175,1185,13134,13125
unique,33125,280,359,7190,7183
top,0,There is no Synonym available,There is no Synonym available,,
freq,3,896,826,5292,5292

## Exploration

In [195]:
## Keep the original data
data_dlm = data.copy()

In [196]:
display(data_dlm[:10])

,Establishment Name,English Synonyms,Arabic Synonyms,Cleansing Synonyms,Cleansing Synonyms review
0,كنتاكي,KFC,كي اف سي,NaN,NaN
1,بيتزا هت,There is no Synonym available,There is no Synonym available,NaN,NaN
2,شركة الامارات للوجبات السريعة (ذ.م.م) - ماكدونالدز,MAC,ماك,شركة الامارات للوجبات السريعة ماكدونالدز,ماكدونالدز
3,هارديز,There is no Synonym available,There is no Synonym available,NaN,NaN
4,برجر كينج,NaN,NaN,NaN,NaN
5,تكساس تشيكن,NaN,NaN,NaN,NaN
6,مطعم الفروج الطازج,Al Farooj Fresh Chicken Restaurant,مطعم الفروج الطازج,NaN,NaN
7,مطعم الخروف الذهبي,There is no Synonym available,There is no Synonym available,NaN,NaN
8,مصرف ابوظبي الاسلامي - مركز الاتصال - البدالة,ADIB Call Center,اديب بنك,مصرف ابوظبي الاسلامي,مصرف ابوظبي الاسلامي
9,وزارة الداخلية,There is no Synonym available,الداخلية,NaN,NaN

## Add source estab name (only uncleaed) to dlm

In [197]:
estabname_df = data_dlm[data_dlm[reviewed_cleaned_synon].isnull()]
estabname_df[synonym_col] = estabname_df[estab_name]
estabname_df = estabname_df[[estab_name, synonym_col]]
estabname_df['id'] = estabname_df.index
display(estabname_df[:100])

C:\Users\sameh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                   Establishment Name                           synonym   id
0    كنتاكي                            كنتاكي                            0
1    بيتزا هت                          بيتزا هت                          1
3    هارديز                            هارديز                            3
4    برجر كينج                         برجر كينج                         4
5    تكساس تشيكن                       تكساس تشيكن                       5
6    مطعم الفروج الطازج                مطعم الفروج الطازج                6
7    مطعم الخروف الذهبي                مطعم الخروف الذهبي                7
9    وزارة الداخلية                    وزارة الداخلية                    9
10   مطعم بحر الامارات                 مطعم بحر الامارات                 10
13   مؤسسة الانصاري للصرافة            مؤسسة الانصاري للصرافة            13
14   العربية للطيران                   العربية للطيران                   14
15   مطعم ومشاوي البيت اللبناني        مطعم ومشاوي البيت اللبناني        15
17   صيدلية العين                      صيدلية العين                      17
23   بابا جونز                         بابا جونز                         23
24   تاكسي دبي                         تاكسي دبي                         24
25   القيادة العامة لشرطة أبوظبي       القيادة العامة لشرطة أبوظبي       25
27   كافتيريا الملاح                   كافتيريا الملاح                   27
28   طيران الاتحاد                     طيران الاتحاد                     28
29   مطعم ملك الدجاج الطازج            مطعم ملك الدجاج الطازج            29
30   مطعم عروس دمشق                    مطعم عروس دمشق                    30
31   مطعم الفوار                       مطعم الفوار                       31
32   كافيتريا البستان                  كافيتريا البستان                  32
33   فطائر الخليج                      فطائر الخليج                      33
35   مطعم ربوع لبنان                   مطعم ربوع لبنان                   35
36   مطعم ملك البروستد والشاورما       مطعم ملك البروستد والشاورما       36
37   هيئة الطرق والمواصل               هيئة الطرق والمواصل               37
38   مطعم وحلويات الملاح               مطعم وحلويات الملاح               38
40   مطعم عمر الخيام                   مطعم عمر الخيام                   40
42   مرطبات تذكار                      مرطبات تذكار                      42
43   مطعم الروضة                       مطعم الروضة                       43
..           ...                               ...                       ..
98   كافتيريا شباب بني ياس             كافتيريا شباب بني ياس             98
99   مطعم العرب                        مطعم العرب                        99
100  مطعم الشاطر حسن                   مطعم الشاطر حسن                   100
101  مردف سيتي سن                      مردف سيتي سن                      101
102  مطعم الفرن الايطالي               مطعم الفرن الايطالي               102
104  كافيتيريا لفاح                    كافيتيريا لفاح                    104
106  كافيتيريا محارة البحر             كافيتيريا محارة البحر             106
108  مطعم العريبي                      مطعم العريبي                      108
110  مرطبات وسندويتشات عنتر            مرطبات وسندويتشات عنتر            110
111  مطبخ رماح الشعبي                  مطبخ رماح الشعبي                  111
113  كافتيريا ترافيك برجر              كافتيريا ترافيك برجر              113
114  فندق برج العرب                    فندق برج العرب                    114
115  كافتيريا خفايف                    كافتيريا خفايف                    115
117  كافتيريا الكوثر                   كافتيريا الكوثر                   117
118  صالون الاخوات للسيدات             صالون الاخوات للسيدات             118
120  فندق قصر الملكة                   فندق قصر الملكة                   120
121  عيادة بينونة للاسنان              عيادة بينونة للاسنان              121
122  دائرة النق                        دائرة النق                        122
123  عيادة المالكى لطب الاسنان         عيادة المالكى لطب الاسنان         123
125  الهيئة الاتحادية للكهرباء والماء  الهيئة الاتحادية للكهرباء والماء  125
126  الاسرار للاطعمه والمشروبات        الاسرار للاطعمه والمشروبات        126
127  ايوان عجمان للاجنحة الفندقية      ايوان عجمان للاجنحة الفندقية      127
132  مطعم ومشاوي الخروف                مطعم ومشاوي الخروف                132
133  مطعم وكافيتريا الملواني           مطعم وكافيتريا الملواني           133
134  مطعم جمر وحطب الشعبي              مطعم جمر وحطب الشعبي              134
137  مطعم وكافيتريا أبي الفداء         مطعم وكافيتريا أبي الفداء         137
140  كافيتيريا عنتر                    كافيتيريا عنتر                    140
141  مطعم وحلويات قيصر                 مطعم وحلويات قيصر                 141
143  مطعم زعتر وزيت                    مطعم زعتر وزيت                    143
144  مطعم وكافتريا الرياضي             مطعم وكافتريا الرياضي             144

[100 rows x 3 columns]

In [198]:
estabname_df.describe()

                 id
count  20003.000000
mean   14968.096636
std    9029.653239
min    0.000000
25%    7318.500000
50%    14383.000000
75%    21785.000000
max    33127.000000

## Add Dawood Ar synonyms to DLM

In [199]:
# Clean Arabic synonyms
arabic_synon_df = data_dlm.copy()

In [200]:
# remove NaN
arabic_synon_df[arabic_synon] = arabic_synon_df[arabic_synon].replace("There is  no Synonym available", np.nan, regex=True)
arabic_synon_df[arabic_synon] = arabic_synon_df[arabic_synon].replace('', np.nan, regex=True)

In [201]:
# removes duplicates
arabic_synon_df[synonym_col] = arabic_synon_df[arabic_synon]
arabic_synon_df.dropna(subset=[synonym_col], inplace=True)
arabic_synon_df = arabic_synon_df[[estab_name, synonym_col]]
arabic_synon_df['id'] = arabic_synon_df.index
display(arabic_synon_df[:10])

,Establishment Name,synonym,id
0,كنتاكي,كي اف سي,0
2,شركة الامارات للوجبات السريعة (ذ.م.م) - ماكدونالدز,ماك,2
6,مطعم الفروج الطازج,مطعم الفروج الطازج,6
8,مصرف ابوظبي الاسلامي - مركز الاتصال - البدالة,اديب بنك,8
9,وزارة الداخلية,الداخلية,9
11,مركز تنظيم النقل بسيارات الأجرة - ترانساد - أبوظبي والعين,تاكسي ابوظبي,11
12,استعلامات,بدالة,12
19,بنك الخليج الأول - بنك ابوظبي الأول - مركز الاتصال,بنك ابوظبي الاول مركز الاتصال البدالة - اف اي بي - فاب,19
25,القيادة العامة لشرطة أبوظبي,القيادة,25
27,كافتيريا الملاح,مطعم الملاح,27

In [202]:
arabic_synon_df.describe()

                id
count  359.000000
mean   523.376045
std    321.648722
min    0.000000
25%    278.500000
50%    455.000000
75%    797.500000
max    1195.000000

## Add cleaned synonyms to DLM

In [204]:
# Cleaned synonyms
cleaned_synon_df = data_dlm.copy()

In [205]:
# remove NaN
cleaned_synon_df[reviewed_cleaned_synon] = cleaned_synon_df[reviewed_cleaned_synon].replace('', np.nan, regex=True)
display(cleaned_synon_df[:10])

,Establishment Name,English Synonyms,Arabic Synonyms,Cleansing Synonyms,Cleansing Synonyms review
0,كنتاكي,KFC,كي اف سي,NaN,NaN
1,بيتزا هت,There is no Synonym available,There is no Synonym available,NaN,NaN
2,شركة الامارات للوجبات السريعة (ذ.م.م) - ماكدونالدز,MAC,ماك,شركة الامارات للوجبات السريعة ماكدونالدز,ماكدونالدز
3,هارديز,There is no Synonym available,There is no Synonym available,NaN,NaN
4,برجر كينج,NaN,NaN,NaN,NaN
5,تكساس تشيكن,NaN,NaN,NaN,NaN
6,مطعم الفروج الطازج,Al Farooj Fresh Chicken Restaurant,مطعم الفروج الطازج,NaN,NaN
7,مطعم الخروف الذهبي,There is no Synonym available,There is no Synonym available,NaN,NaN
8,مصرف ابوظبي الاسلامي - مركز الاتصال - البدالة,ADIB Call Center,اديب بنك,مصرف ابوظبي الاسلامي,مصرف ابوظبي الاسلامي
9,وزارة الداخلية,There is no Synonym available,الداخلية,NaN,NaN

In [206]:
cleaned_synon_df.describe()

,Establishment Name,English Synonyms,Arabic Synonyms,Cleansing Synonyms,Cleansing Synonyms review
count,33128,1175,1185,13134,13125
unique,33125,280,359,7190,7183
top,0,There is no Synonym available,There is no Synonym available,,
freq,3,896,826,5292,5292

In [207]:
# removes duplicates
cleaned_synon_df[synonym_col] = cleaned_synon_df[reviewed_cleaned_synon]
cleaned_synon_df.dropna(subset=[synonym_col], inplace=True)
cleaned_synon_df = cleaned_synon_df[[estab_name, synonym_col]]
cleaned_synon_df['id'] = cleaned_synon_df.index
display(cleaned_synon_df[:10])

,Establishment Name,synonym,id
2,شركة الامارات للوجبات السريعة (ذ.م.م) - ماكدونالدز,ماكدونالدز,2
8,مصرف ابوظبي الاسلامي - مركز الاتصال - البدالة,مصرف ابوظبي الاسلامي,8
11,مركز تنظيم النقل بسيارات الأجرة - ترانساد - أبوظبي والعين,مركز تنظيم النقل بسيارات الأجرة,11
12,استعلامات,استعلامات,12
16,مطعم وكافيتيريا زهرة لبنان - مركز الاتصال,مطعم وكافيتيريا زهرة لبنان,16
18,مستشفى ميديكلينك - مركز الاتصال,مستشفى ميديكلينك,18
19,بنك الخليج الأول - بنك ابوظبي الأول - مركز الاتصال,بنك الخليج الأول,19
20,طيران الامارات - مركز الاتصال,طيران الامارات,20
21,دائرة الطيران المدني - مطار دبي,مطار دبي,21
22,مطعم الكوخ الذهبي -فرع,مطعم الكوخ الذهبي,22

In [208]:
cleaned_synon_df.describe()

                 id
count  13125.000000
mean   18994.955505
std    9838.566519
min    2.000000
25%    10643.000000
50%    21011.000000
75%    27533.000000
max    33126.000000

## Merging DLM

In [215]:
dlm_all = pd.concat([estabname_df, arabic_synon_df])
dlm_all = pd.concat([dlm_all, cleaned_synon_df])
dlm_all = dlm_all.sort_values(['id'])
# dlm_all = pd.merge(estabname_df, 
#                    arabic_synon_df[['id', synonym_col]], how='outer', on='id')
#dlm_all = pd.merge(estabname_df, arabic_synon_df, on=estab_name)
#dlm_all.sort_index(inplace=True)

display(dlm_all[:10])

                                   Establishment Name             synonym  id
0  كنتاكي                                              كنتاكي              0
0  كنتاكي                                              كي اف سي            0
1  بيتزا هت                                            بيتزا هت            1
2  شركة الامارات للوجبات السريعة (ذ.م.م) - ماكدونالدز  ماك                 2
2  شركة الامارات للوجبات السريعة (ذ.م.م) - ماكدونالدز  ماكدونالدز          2
3  هارديز                                              هارديز              3
4  برجر كينج                                           برجر كينج           4
5  تكساس تشيكن                                         تكساس تشيكن         5
6  مطعم الفروج الطازج                                  مطعم الفروج الطازج  6
6  مطعم الفروج الطازج                                  مطعم الفروج الطازج  6

In [238]:
dlm_all.describe(include="all")

       Establishment Name synonym            id
count   33487              33487   33487.000000
unique  33125              27390  NaN
top     0                         NaN
freq    3                  5293   NaN
mean    NaN                NaN     16391.540598
std     NaN                NaN     9654.402125
min     NaN                NaN     0.000000
25%     NaN                NaN     8012.500000
50%     NaN                NaN     16384.000000
75%     NaN                NaN     24755.500000
max     NaN                NaN     33127.000000

### Tokenize the arabic synonyms

In [239]:
from itertools import chain

# return list from series of dash-separated strings
def chainer(s):
    return list(chain.from_iterable(s.str.split('-')))

# calculate lengths of splits
lens = dlm_all[synonym_col].str.split('-').map(len)

dlm_all_expanded = pd.DataFrame({synonym_col: chainer(dlm_all[synonym_col])})
dlm_all_expanded = dlm_all_expanded[synonym_col].str.strip()

In [250]:
# drop empty
dlm_all_expanded = dlm_all_expanded.replace('', np.nan, regex=True)
dlm_all_expanded = dlm_all_expanded.dropna()

# drop duplicates
dlm_all_expanded.drop_duplicates(inplace = True)

display(dlm_all_expanded[:122])

0      كنتاكي
1      كي اف سي
2      بيتزا هت
3      ماك
4      ماكدونالدز
5      هارديز
6      برجر كينج
7      تكساس تشيكن
8      مطعم الفروج الطازج
10     مطعم الخروف الذهبي
11     اديب بنك
12     مصرف ابوظبي الاسلامي
13     الداخلية
14     وزارة الداخلية
15     مطعم بحر الامارات
16     تاكسي ابوظبي
17     مركز تنظيم النقل بسيارات الأجرة
18     استعلامات
19     بدالة
20     مؤسسة الانصاري للصرافة
21     العربية للطيران
22     مطعم ومشاوي البيت اللبناني
23     مطعم وكافيتيريا زهرة لبنان
24     صيدلية العين
25     مستشفى ميديكلينك
26     بنك ابوظبي الاول مركز الاتصال البدالة
27     اف اي بي
28     فاب
29     بنك الخليج الأول
30     طيران الامارات
            ...
94     دي أي بي بنك
95     مطعم ومشاوي انوار لبنان
96     هوت برجر للوجبات السريعة
97     كافتيريا كل و اشرب
98     مطعم كل واشرب
99     كافتيريا وادي العرايش
100    مطعم وادي العرايش
101    مطعم وكافيتيريا كرم الشام
102    ونش لسحب السيارات
103    ,ونش لحمل و نقل السيارات
104    ونش لحمل ونقل السيارات
105    كافتيريا نجوم نوف
106    مطعم الامور اكسبرس
107    كافيتيريا روضة الشام
108    مركز رياض الطبي الجديد
109    مركز رياض الطبي
110    عيادة رياض
111    عيادة دكتور رياض
112    مركز سامية العدوان لتجميل السيدات
113    صالون سامية العدوان للسيدات
114    كافيتريا الرياض
115    فندق العين روتانا
116    دي اتش ال
118    دائرة بلدية أبوظبي
119    بلدية ابوظبي
120    الربوع للهواتف المتحركة
121    البدر للصرافة
123    متجر ابل
124    ابل ستور
125    مطعم وكافتريا البيك
Name: synonym, Length: 122, dtype: object

In [251]:
dlm_all_expanded.describe()

count     26742
unique    26742
top       ديوان نائب رئيس مجلس الوزراء
freq      1
Name: synonym, dtype: object

In [252]:
export_to_file("csv", dlm_all_expanded, "data/34K_dlm_source_review02_output.csv")